body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 45px;
}
.name-highlight{
    color:#f8b809
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
width: 60%;
}